/*--- Chat Box ---*/

.ui-chatbox {
  border-radius: 4px 4px 0 0;
}

.ui-chatbox-titlebar {
  background: #009dab;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 40px;
  padding: 8px;
}

.chatbox-title {
  background: url(../img/icon-06.png) no-repeat 100% center transparent;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  height: 23px;
  width: 160px;
}

.chatbox-close {
  background: url(../img/icon-07.png) no-repeat 0 0 transparent;
  background-size: 100%;
  display: block;
  float: right;
  height: 13px;
  margin-top: 3px;
  width: 13px;
}

.ui-chatbox-log {
  background: #eaeaea;
  color: #333;
  margin: 0;
  width: 100% !important;
}

.ui-chatbox-input {
  background: #eaeaea;
  border-top: none;
  max-width: 100% !important;
}

.ui-chatbox-input-box {
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  outline: none;
  padding: 10px;
  width: 97% !important;
}

.chatbox-close span {
  display: none;
}

.all-lst {
  overflow: hidden;
  width: 100%;
}

.all-lst li {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 32px;
  list-style: none;
  margin: 20px;
  width: 100%;
}

.all-lst li a {
  color: #333;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 32px;
  text-decoration: none;
}


/* 
.col-md-2,
.col-md-10,
.col-md-4,
.panel-chat,
.panel-lst {
    padding: 0;
} */

.panel {
  outline: none;
  border: none;
  margin-bottom: 0px;
}

.chat-window {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 999;
  width: 450px;
}

@media screen and (max-width: 575px) {
  .chat-window {
    width: 100%;
  }
}


/* 
.chat-window.active {
    bottom: 0px;
} */

.chat-window>div>.panel {
  border-radius: 5px 5px 0 0;
}

.icon_minim {
  padding: 2px 10px;
}

.msg_container_base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 10px 10px;
  max-height: 300px;
  overflow-x: hidden;
}

.msg_lst {
  background: #e5e5e5;
  margin: 0;
  padding: 10px 0;
  max-height: 333px;
  overflow-x: hidden;
}

.search-group {
  background: #e5e5e5;
  padding: 10px 15px;
  width: 100%;
}

.msg_lst ul {
  padding: 0;
}

.msg_lst ul li {
  border-bottom: 1px solid #333;
  list-style: none;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
}

.msg_lst ul li:last-child {
  border-bottom: none;
}

.msg_lst ul li a {
  display: block;
  font-size: 1.4rem;
  padding: 15px;
}

.msg_lst ul li.active {
  background: #cecece;
}

.msg_lst ul li.active a {
  color: #009dab;
  font-weight: bold;
}

.msg_lst ul li span {
  background: #cc0000;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  right: 5px;
  bottom: 15px;
  height: 20px;
  padding: 2px;
  text-align: center;
}

.chat-notif {
  background: #cc0000;
  border: 1px solid #cc0000;
  box-shadow: none;
  color: #fff;
  display: block;
  font-size: 1.1rem;
  height: 20px;
  padding: 2px;
  text-align: center;
  width: 20px;
}

.top-bar {
  background: -webkit-linear-gradient(top, #831534, #6a162d);
  background: linear-gradient(to bottom, #831534, #6a162d);
  text-shadow: -1px -1px 3px #000000;
  border-top: 1px solid #950f34;
  border-bottom: 1px solid #4b0404;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  display: flex;
}

.top-bar.tutor {
  background: #026;
  text-shadow: none;
  border: none;
}


.panel-lst .top-bar {
  text-align: right;
}

.panel-lst .top-bar .panel-title {
  padding-right: 5px;
}

.msg_receive {
  background: #c7edfc;
  color: #333;
  position: relative;
}

.msg_receive span {
  background: url(../img/icon-09.png) no-repeat 0 0 transparent;
  position: absolute;
  left: -6px;
  top: 20px;
  height: 7px;
  width: 6px;
}

.msg_sent {
  background: #f0f4f8;
  color: #333;
  position: relative;
}

.msg_sent span {
  background: url(../img/icon-10.png) no-repeat 0 0 transparent;
  position: absolute;
  right: -6px;
  top: 20px;
  height: 7px;
  width: 6px;
}

.messages {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  max-width: 92%;
  margin: 0 auto;
  overflow: visible;
}

.messages>p {
  font-size: .7rem;
  margin-bottom: 0;
}

.messages>time {
  font-size: 1.1rem;
  color: #333;
}

.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}

.msg_container time {
  color: #333;
  font-size: 1rem;
  margin-top: 3px;
}

.base_sent .name_time {
  display: block;
  margin: 5px auto 0;
  width: 92%;
}

.base_receive .name_time {
  display: block;
  margin: 5px auto 0;
  text-align: right;
  width: 92%;
}

img {
  display: block;
  width: 100%;
}

.msg_sent>time {
  float: right;
}

.btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0;
}

.panel-title {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0;
}

.panel-title img {
  width: auto;
  height: 23px;
  display: inline-block;
  margin-right: 10px;
}

.panel-title span {
  background: url(../img/icon-06.png) no-repeat right center transparent;
  display: inline-block;
  height: 23px;
  margin-left: 5px;
  width: 29px;
  vertical-align: middle;
}

.exit-btn {
  display: inline-block;
  height: 13px;
  text-align: right;
  width: 13px;
  vertical-align: bottom;
}

.send-btn {
  min-width: 90px;
}

.panel-footer {
  background: #e5e5e5;
  border: none;
}

.panel-chat .panel-footer {
  text-align: right;
  padding: 10px 15px;
}

.avatar {
  padding: 0 0 0 15px;
}

.avatar img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  border-radius: 50%;
}

.add-btn {
  font-weight: bold;
}

.chat_input {
  border: none;
  border-radius: 4px;
  height: 70px;
  margin-bottom: 5px;
  width: 100%;
}


/*--- End Chat Box ---*/
